<div class="poem-logo-container">
  <img src="assets/logo.png" alt="Logo" class="logo" />
  <div class="poem">
    When systems fair, in tandem run,<br />
    A single state should merge as one.<br />
    But here a mischief hides within,<br />
    A lost update, a lurking sin.<br />

    Fair worker threads toil night and day,<br />
    Yet silent writes do lose their way.<br />
    O wicked race that causes plight,<br />
    A vanished change, gone from our sight.<br />

    Out, out, brief state, thou ghostly ghost,<br />
    Thy fleeting update, now we've lost!<br />
    To fix this bug, brave dev must dare,<br />
    To guard thy state with utmost care.
  </div>
</div>

<div class="content" role="main">
  <app-error-message></app-error-message>
  <router-outlet></router-outlet>
</div>
